

body {
	font-family: 'Neuton', serif;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
	width:200px;
    /*  pointer-events: none;	This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
	color:white;
	font: 16px sans-serif;
	font-family:'Lato' !important;
	line-height: 23px;
	padding-top:5px
}

.panelTitle{
		font-family:'Lato' !important;
		font-size: 28px;
		letter-spacing:2px;
}
.titlePath{
	stroke: rgb(96, 230, 198);
	fill:none;
	stroke-width:35px;
}

#wellBeing{
			fill:white;
			font-weight:300;

}



#gapAnalysis{
	fill:black;
	font-family:'Lato' !important;
	font-size: 32.6627px
} 

.filter{
	fill:white;
	font-family:'Lato' !important;
	font-size: 20px;
	font-weight:400
} 

.handleText{
	text-anchor: middle;
	fill:white;
	font-family:'Lato' !important;
	font-size: 14px;
	font-weight:400

}

.axisLabel{
	fill:white;
	font-family:'Lato' !important;
	font-size: 16px;
	font-weight:500
} 


.filterLabel{
	fill:white;
	font-family:'Lato' !important;
	font-size: 18px;
	font-weight:bolder;
	cursor:pointer
} 

.checkboxLabel.exclude{
	fill:rgb(144, 144, 144);
}

.optionBars{
	cursor:pointer;
	fill:#333132;
	stroke:white;
}


.resetButton{
	fill:white;
	opacity:.5
}

.resetLabel{
	fill:white;
	font-family:'Lato' !important;
	font-size: 14px;
	font-weight:bold;
	text-anchor:end;
	cursor:pointer;

}


/* .Experience{
	fill:rgb(48, 121, 128);
	
}

.Relevance{
	fill:rgb(48, 121, 128);
} */

.filterTitle{
	fill:white;
	font-family:'Lato' !important;
	font-size: 20px;
	font-weight:bold;
}
.checkboxLabel{
	fill:white;
	font-family:'Lato' !important;
	font-size: 14px;
	font-weight:500;
	cursor:pointer
} 

.participantCount{
	fill:white;
	font-family:'Lato' !important;
	font-size: 14px;
	font-weight:500;
} 

.poly{
	opacity:.4
}



.optionPanel{
	padding-top:0px;
	/* padding-bottom:0px; */
}

.filterHandle{
	fill:rgb(96, 230, 198);
	stroke:#333132;
	stroke-width:4px;
}

.clicked .optionBars{
	fill:rgb(96, 230, 198)
}

.selectedBars{
	fill:rgb(96, 230, 198)
}

.barLabel{
	fill:white;
	text-anchor: end;
	font-family:'Lato' !important;
	font-size: 14px;
	font-weight:500;
	/* fill:rgb(96, 230, 198); */
}




  .textPath{
	  /* stroke:#949494; */
	  stroke:none;
  }

  #markerArrow{
	fill:rgb(193, 193, 193);
	stroke:0px
  }

 .qAxis{
    stroke: white;
    stroke-width:1px;
 }

 .labelLine{
    stroke: none ;
    marker-start: url(#markerArrow);
 }

 .qMarker{
	 stroke-width:2px;
	 stroke:rgb(96, 230, 198);
	 stroke-dasharray: 2px 2px;
 }

/* 
 .qMarker{
	fill:rgb(48, 121, 128)
} */

 .qLabel{
	fill:rgb(96, 230, 198);;
	font-family:'Lato' !important;
	font-size: 12px;
	font-weight:700;

 }

 .hovered{
	 r:8px
 }

 .histBar{
	 fill:white;
	 opacity:.7;
 }

 .header{
	 border-bottom: 1px solid #b7b7b7;
	 padding-bottom:5px;

 }
  .tooltip {
    background-color: #4a4a4a;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
	width:280px; 
	/* height:200px; */
  }

  .histDiv{
	  margin-top:10px
  }

  /* .tooltip{
	border-radius: 5px; 
	width:280px; 
	background-color:#4a4a4a; 
	padding: 10px
  } */

  #filterPanel{
	  background-color: #333132;
	  /* height:100vh; */
	  overflow:hidden;
  }

  #dataWedge{
	height:100vh;
	overflow:hidden;
  }
.label{
	font-family: 'Lato' !important;
	font-size: 16px;
	font-weight: 600px;
	fill: #231F20;
}
.question.label{
	fill:rgb(171, 171, 171);
	font-size: 12px;
}

.Relevance{
	fill:rgb(48, 121, 128);
	stroke:rgb(48, 121, 128);
}

circle.questionValues{
	fill:rgb(48, 121, 128);
	stroke:rgb(48, 121, 128);
}

.Experience{
	fill:rgb(246, 243, 255);
	stroke:rgb(246, 243, 255);
}

.filterDivs{
	overflow-y: scroll;
	height:calc(100vh - 450px);
}

	.centerArc{
		fill:white;
		/* stroke: black;
		stroke-width: 1px; */
	  opacity:1  }

.st122, .st127, .st114 {
	font-family:'Lato' !important
}

.visContainers{
	margin-left: 100px;
}
h1 {
	font-size: 36px;
	color: #825a5a;
	margin-top: 40px;
}

.bar{
	stroke-width: 1px;
	stroke:white;
	fill: #3165a3; /* #93bebf;*/

}
.histLabel{
	text-anchor: middle;
	fill:white;
	font-family:'Lato' !important;
	font-weight: 500;
}
h2 {
	color: white;
	font-family: 'LATO';
    font-size: 18px;
    font-weight: bold;
	text-align:left;
	border-bottom: 1px solid #b7b7b7;
	padding-bottom:5px
}

.axis line,
.axis path {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.tick text {
	font-family: sans-serif;
	font-size: 11px;
	fill: white;
}

#priovis .x-axis text {
	font-weight: 600;
}

.area {
	fill: #825a5a;
}

.area.area-age {
	fill: #94a97a;
}

.time-period-value {
	padding: 4px 10px;
  	background-color: #f5f5f5;
  	border-radius: 4px;
  	font-size: 16px;
}
.time-period-divider {
	font-size: 16px;
	margin-left: 5px;
	margin-right: 5px;
}

#reset-zoom {
	display: none;
	margin-left: 15px;
	font-size: 16px;
	padding: 4px 10px;
	display: inline-block;
	line-height: 1.1;
	vertical-align: top;
	margin-top: -2px;
}

.highlight{
	fill: #00ffb3dc;
	/* stroke: #00ffb3dc; */
    /* stroke-width: 3; */
}