body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
	text-align:right;
}
p.ParaOverride-2 {
	-epub-hyphens:none;
}
p.ParaOverride-3 {
	-epub-hyphens:none;
	text-align:center;
}
p.ParaOverride-4 {
	text-align:center;
}
p.ParaOverride-5 {
	-epub-hyphens:none;
	text-indent:5px;
}
p.ParaOverride-6 {
	-epub-hyphens:none;
	margin-left:5px;
}
span.CharOverride-1 {
	color:#818386;
	font-family:"Gill Sans MT", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"Gill Sans MT Bold", sans-serif;
	font-size:33px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-3 {
	color:#282829;
	font-family:"Gill Sans MT Bold", sans-serif;
	font-size:33px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"Gill Sans MT Bold", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Gill Sans MT", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"Gill Sans MT Bold", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"Gill Sans MT Italic", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#ffffff;
	font-family:"Gill Sans MT", sans-serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer007 {
	-ms-transform:translate(-0.001px,211.445px) rotate(63.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,211.445px) rotate(63.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.23px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,211.445px) rotate(63.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,211.445px) rotate(63.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.91px;
	z-index:2;
}
#_idContainer008 {
	-ms-transform:translate(64.556px,62.546px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.556px,62.546px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.23px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.556px,62.546px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.556px,62.546px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.91px;
	z-index:5;
}
#_idContainer009 {
	-ms-transform:translate(60.058px,370.873px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(60.058px,370.873px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.23px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(60.058px,370.873px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(60.058px,370.873px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.91px;
	z-index:6;
}
#_idContainer010 {
	-ms-transform:translate(212.341px,-0.001px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(212.341px,-0.001px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.23px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(212.341px,-0.001px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(212.341px,-0.001px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.91px;
	z-index:1;
}
#_idContainer011 {
	-ms-transform:translate(215.645px,434.140px) rotate(330.250deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(215.645px,434.140px) rotate(330.250deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.23px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(215.645px,434.140px) rotate(330.250deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(215.645px,434.140px) rotate(330.250deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.91px;
	z-index:3;
}
#_idContainer012 {
	-ms-transform:translate(364.936px,60.420px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(364.936px,60.420px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.23px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(364.936px,60.420px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(364.936px,60.420px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.91px;
	z-index:4;
}
#_idContainer013 {
	-ms-transform:translate(430.677px,212.053px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(430.677px,212.053px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.23px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(430.677px,212.053px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(430.677px,212.053px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.91px;
	z-index:0;
}
#_idContainer014 {
	-ms-transform:translate(372.537px,368.762px) rotate(285.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(372.537px,368.762px) rotate(285.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.23px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(372.537px,368.762px) rotate(285.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(372.537px,368.762px) rotate(285.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.91px;
	z-index:7;
}
#_idContainer015 {
	display:inline-block;
	height:434px;
	position:relative;
	width:431px;
}
#_idContainer016 {
	-ms-transform:translate(85.094px,157.120px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(85.094px,157.120px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(85.094px,157.120px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(85.094px,157.120px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.86px;
	z-index:25;
}
#_idContainer017 {
	-ms-transform:translate(103.976px,146.328px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(103.976px,146.328px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(103.976px,146.328px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(103.976px,146.328px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.14px;
	z-index:24;
}
#_idContainer018 {
	-ms-transform:translate(64.538px,168.869px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(64.538px,168.869px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(64.538px,168.869px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(64.538px,168.869px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.67px;
	z-index:26;
}
#_idContainer019 {
	-ms-transform:translate(42.760px,181.316px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(42.760px,181.316px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.760px,181.316px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(42.760px,181.316px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.01px;
	z-index:27;
}
#_idContainer020 {
	-ms-transform:translate(21.273px,193.597px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(21.273px,193.597px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(21.273px,193.597px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(21.273px,193.597px) rotate(60.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.84px;
	z-index:28;
}
#_idContainer021 {
	-ms-transform:translate(84.512px,67.017px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(84.512px,67.017px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(84.512px,67.017px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(84.512px,67.017px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.84px;
	z-index:22;
}
#_idContainer022 {
	-ms-transform:translate(132.590px,80.125px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(132.590px,80.125px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.590px,80.125px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(132.590px,80.125px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.67px;
	z-index:20;
}
#_idContainer023 {
	-ms-transform:translate(176.415px,92.073px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(176.415px,92.073px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(176.415px,92.073px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(176.415px,92.073px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.14px;
	z-index:18;
}
#_idContainer024 {
	-ms-transform:translate(108.389px,73.527px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(108.389px,73.527px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(108.389px,73.527px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(108.389px,73.527px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.01px;
	z-index:21;
}
#_idContainer025 {
	-ms-transform:translate(155.433px,86.353px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(155.433px,86.353px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(155.433px,86.353px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(155.433px,86.353px) rotate(105.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.86px;
	z-index:19;
}
#_idContainer026 {
	-ms-transform:translate(28.070px,204.897px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(28.070px,204.897px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(28.070px,204.897px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(28.070px,204.897px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:29;
}
#_idContainer027 {
	-ms-transform:translate(92.140px,235.351px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(92.140px,235.351px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(92.140px,235.351px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(92.140px,235.351px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.14px;
	z-index:30;
}
#_idContainer028 {
	-ms-transform:translate(86.419px,256.333px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(86.419px,256.333px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(86.419px,256.333px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(86.419px,256.333px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.86px;
	z-index:31;
}
#_idContainer029 {
	-ms-transform:translate(80.192px,279.176px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(80.192px,279.176px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(80.192px,279.176px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(80.192px,279.176px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.67px;
	z-index:32;
}
#_idContainer030 {
	-ms-transform:translate(73.594px,303.377px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(73.594px,303.377px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(73.594px,303.377px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(73.594px,303.377px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.01px;
	z-index:33;
}
#_idContainer031 {
	-ms-transform:translate(67.084px,327.254px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(67.084px,327.254px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(67.084px,327.254px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(67.084px,327.254px) rotate(15.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.84px;
	z-index:34;
}
#_idContainer032 {
	-ms-transform:translate(218.700px,21.273px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(218.700px,21.273px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(218.700px,21.273px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(218.700px,21.273px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.84px;
	z-index:16;
}
#_idContainer033 {
	-ms-transform:translate(243.428px,64.538px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(243.428px,64.538px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(243.428px,64.538px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(243.428px,64.538px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.67px;
	z-index:14;
}
#_idContainer034 {
	-ms-transform:translate(230.981px,42.760px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(230.981px,42.760px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(230.981px,42.760px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(230.981px,42.760px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.01px;
	z-index:15;
}
#_idContainer035 {
	-ms-transform:translate(255.177px,85.094px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(255.177px,85.094px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(255.177px,85.094px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(255.177px,85.094px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.86px;
	z-index:13;
}
#_idContainer036 {
	-ms-transform:translate(265.969px,103.976px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(265.969px,103.976px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(265.969px,103.976px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(265.969px,103.976px) rotate(150.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.14px;
	z-index:12;
}
#_idContainer037 {
	-ms-transform:translate(79.880px,330.439px) rotate(135.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(79.880px,330.439px) rotate(135.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(79.880px,330.439px) rotate(135.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(79.880px,330.439px) rotate(135.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:35;
}
#_idContainer038 {
	-ms-transform:translate(81.327px,79.813px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(81.327px,79.813px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(81.327px,79.813px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(81.327px,79.813px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:23;
}
#_idContainer039 {
	-ms-transform:translate(146.395px,306.678px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(146.395px,306.678px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(146.395px,306.678px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(146.395px,306.678px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.14px;
	z-index:36;
}
#_idContainer040 {
	-ms-transform:translate(157.187px,325.560px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(157.187px,325.560px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(157.187px,325.560px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(157.187px,325.560px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.86px;
	z-index:37;
}
#_idContainer041 {
	-ms-transform:translate(204.963px,382.584px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(204.963px,382.584px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(204.963px,382.584px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(204.963px,382.584px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:41;
}
#_idContainer042 {
	-ms-transform:translate(168.935px,346.116px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(168.935px,346.116px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(168.935px,346.116px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(168.935px,346.116px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.67px;
	z-index:38;
}
#_idContainer043 {
	-ms-transform:translate(181.383px,367.894px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(181.383px,367.894px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(181.383px,367.894px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(181.383px,367.894px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.01px;
	z-index:39;
}
#_idContainer044 {
	-ms-transform:translate(338.580px,107.956px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(338.580px,107.956px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(338.580px,107.956px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(338.580px,107.956px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.01px;
	z-index:9;
}
#_idContainer045 {
	-ms-transform:translate(325.754px,155.001px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(325.754px,155.001px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(325.754px,155.001px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(325.754px,155.001px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.86px;
	z-index:7;
}
#_idContainer046 {
	-ms-transform:translate(345.090px,84.080px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(345.090px,84.080px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(345.090px,84.080px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(345.090px,84.080px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.84px;
	z-index:10;
}
#_idContainer047 {
	-ms-transform:translate(193.663px,389.381px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(193.663px,389.381px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(193.663px,389.381px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(193.663px,389.381px) rotate(330.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.84px;
	z-index:40;
}
#_idContainer048 {
	-ms-transform:translate(331.982px,132.158px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(331.982px,132.158px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.04px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(331.982px,132.158px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(331.982px,132.158px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.67px;
	z-index:8;
}
#_idContainer049 {
	-ms-transform:translate(320.034px,175.983px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(320.034px,175.983px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(320.034px,175.983px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(320.034px,175.983px) rotate(195.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.14px;
	z-index:6;
}
#_idContainer050 {
	-ms-transform:translate(207.400px,28.070px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(207.400px,28.070px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(207.400px,28.070px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(207.400px,28.070px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:17;
}
#_idContainer051 {
	-ms-transform:translate(236.009px,319.218px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(236.009px,319.218px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(236.009px,319.218px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(236.009px,319.218px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.14px;
	z-index:42;
}
#_idContainer052 {
	-ms-transform:translate(308.448px,264.653px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(308.448px,264.653px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(308.448px,264.653px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(308.448px,264.653px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.14px;
	z-index:0;
}
#_idContainer053 {
	-ms-transform:translate(327.329px,253.862px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(327.329px,253.862px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(327.329px,253.862px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(327.329px,253.862px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.86px;
	z-index:1;
}
#_idContainer054 {
	-ms-transform:translate(256.991px,324.938px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(256.991px,324.938px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(256.991px,324.938px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(256.991px,324.938px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.86px;
	z-index:43;
}
#_idContainer055 {
	-ms-transform:translate(347.885px,242.113px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(347.885px,242.113px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(347.885px,242.113px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(347.885px,242.113px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.67px;
	z-index:2;
}
#_idContainer056 {
	-ms-transform:translate(279.834px,331.166px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(279.834px,331.166px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(279.834px,331.166px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(279.834px,331.166px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.67px;
	z-index:44;
}
#_idContainer057 {
	-ms-transform:translate(369.664px,229.666px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(369.664px,229.666px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(369.664px,229.666px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(369.664px,229.666px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.01px;
	z-index:3;
}
#_idContainer058 {
	-ms-transform:translate(304.035px,337.764px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(304.035px,337.764px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(304.035px,337.764px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(304.035px,337.764px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.01px;
	z-index:45;
}
#_idContainer059 {
	-ms-transform:translate(391.150px,217.385px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(391.150px,217.385px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(391.150px,217.385px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(391.150px,217.385px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.84px;
	z-index:4;
}
#_idContainer060 {
	-ms-transform:translate(331.096px,331.477px) rotate(45.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(331.096px,331.477px) rotate(45.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(331.096px,331.477px) rotate(45.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(331.096px,331.477px) rotate(45.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:47;
}
#_idContainer061 {
	-ms-transform:translate(327.912px,344.274px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(327.912px,344.274px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(327.912px,344.274px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(327.912px,344.274px) rotate(285.250deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.84px;
	z-index:46;
}
#_idContainer062 {
	-ms-transform:translate(332.294px,80.895px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(332.294px,80.895px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(332.294px,80.895px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(332.294px,80.895px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:11;
}
#_idContainer063 {
	-ms-transform:translate(384.354px,206.085px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(384.354px,206.085px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(384.354px,206.085px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(384.354px,206.085px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:5;
}
#_idContainer064, #_idContainer121 {
	display:inline-block;
	height:411px;
	position:relative;
	width:412px;
}
#_idContainer065, #_idContainer076, #_idContainer080, #_idContainer089, #_idContainer094, #_idContainer101, #_idContainer108, #_idContainer115 {
	-ms-transform:translate(71.755px,184.515px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(71.755px,184.515px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.05px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(71.755px,184.515px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(71.755px,184.515px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.86px;
	z-index:1;
}
#_idContainer066, #_idContainer074, #_idContainer079, #_idContainer090, #_idContainer093, #_idContainer104, #_idContainer107, #_idContainer114 {
	-ms-transform:translate(52.874px,195.307px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(52.874px,195.307px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.76px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(52.874px,195.307px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(52.874px,195.307px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.14px;
	z-index:0;
}
#_idContainer067, #_idContainer073, #_idContainer081, #_idContainer087, #_idContainer096, #_idContainer109, #_idContainer116 {
	-ms-transform:translate(92.311px,172.766px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(92.311px,172.766px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.04px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(92.311px,172.766px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(92.311px,172.766px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.67px;
	z-index:2;
}
#_idContainer068, #_idContainer075, #_idContainer082, #_idContainer088, #_idContainer097, #_idContainer100, #_idContainer110, #_idContainer117 {
	-ms-transform:translate(114.090px,160.319px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(114.090px,160.319px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(114.090px,160.319px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(114.090px,160.319px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:153.01px;
	z-index:3;
}
#_idContainer069, #_idContainer072, #_idContainer083, #_idContainer086, #_idContainer098, #_idContainer102, #_idContainer112, #_idContainer118 {
	-ms-transform:translate(135.576px,148.038px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(135.576px,148.038px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(135.576px,148.038px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(135.576px,148.038px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.84px;
	z-index:4;
}
#_idContainer070, #_idContainer077, #_idContainer084, #_idContainer091, #_idContainer095, #_idContainer105, #_idContainer111, #_idContainer119 {
	-ms-transform:translate(128.780px,136.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(128.780px,136.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(128.780px,136.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(128.780px,136.738px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:0.00px;
	z-index:5;
}
#_idContainer071 {
	-ms-transform:translate(156.850px,341.636px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(156.850px,341.636px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:136.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(156.850px,341.636px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(156.850px,341.636px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:156.85px;
	z-index:4;
}
#_idContainer078 {
	-ms-transform:translate(75.700px,267.564px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(75.700px,267.564px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:136.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(75.700px,267.564px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(75.700px,267.564px) rotate(225.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:156.85px;
	z-index:3;
}
#_idContainer085 {
	-ms-transform:translate(267.630px,336.066px) rotate(135.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(267.630px,336.066px) rotate(135.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:136.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(267.630px,336.066px) rotate(135.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(267.630px,336.066px) rotate(135.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:156.85px;
	z-index:5;
}
#_idContainer092 {
	-ms-transform:translate(70.661px,156.850px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(70.661px,156.850px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:136.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(70.661px,156.850px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(70.661px,156.850px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:156.85px;
	z-index:2;
}
#_idContainer099 {
	-ms-transform:translate(341.702px,253.804px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(341.702px,253.804px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:136.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(341.702px,253.804px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(341.702px,253.804px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:156.85px;
	z-index:6;
}
#_idContainer103 {
	-ms-transform:translate(92.311px,172.766px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(92.311px,172.766px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.04px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(92.311px,172.766px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(92.311px,172.766px) rotate(240.249deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.67px;
	z-index:2;
}
#_idContainer106 {
	-ms-transform:translate(144.543px,75.268px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(144.543px,75.268px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:136.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(144.543px,75.268px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(144.543px,75.268px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:156.85px;
	z-index:1;
}
#_idContainer113 {
	-ms-transform:translate(336.724px,143.727px) rotate(45.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(336.724px,143.727px) rotate(45.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:136.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(336.724px,143.727px) rotate(45.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(336.724px,143.727px) rotate(45.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:156.85px;
	z-index:7;
}
#_idContainer120 {
	-ms-transform:translate(255.574px,69.346px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(255.574px,69.346px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:136.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(255.574px,69.346px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(255.574px,69.346px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:156.85px;
	z-index:0;
}
#_idContainer122 {
	-ms-transform:translate(24.741px,22.173px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(24.741px,22.173px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:107.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.741px,22.173px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(24.741px,22.173px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:66.68px;
	z-index:1;
}
#_idContainer123, #_idContainer127, #_idContainer135, #_idContainer139, #_idContainer147, #_idContainer151, #_idContainer157, #_idContainer161 {
	-ms-transform:translate(55.918px,126.640px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(55.918px,126.640px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:113.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.918px,126.640px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(55.918px,126.640px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:41.05px;
	z-index:0;
}
#_idContainer124, #_idContainer126, #_idContainer136, #_idContainer138, #_idContainer146, #_idContainer152, #_idContainer158, #_idContainer160 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:118.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:16.42px;
	z-index:2;
}
#_idContainer125 {
	-ms-transform:translate(0.000px,0.000px) rotate(229.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(229.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:134px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(229.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(229.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:95px;
}
#_idContainer128, #_idContainer134, #_idContainer140, #_idContainer148, #_idContainer150, #_idContainer156, #_idContainer162 {
	-ms-transform:translate(25.449px,21.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(25.449px,21.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:107.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(25.449px,21.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(25.449px,21.466px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:66.68px;
	z-index:1;
}
#_idContainer129 {
	-ms-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:133px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:96px;
}
#_idContainer137 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:133px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:96px;
}
#_idContainer141 {
	-ms-transform:translate(0.000px,0.000px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:133px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:96px;
}
#_idContainer142 {
	display:inline-block;
	height:17px;
	width:25px;
}
#_idContainer143, #_idContainer144 {
	display:inline-block;
	height:134px;
	position:relative;
	width:134px;
}
#_idContainer149 {
	display:inline-block;
	height:133px;
	position:relative;
	width:96px;
}
#_idContainer153 {
	-ms-transform:translate(0.000px,0.000px) rotate(136.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(136.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:133px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(136.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(136.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:96px;
}
#_idContainer159 {
	-ms-transform:translate(0.000px,0.000px) rotate(89.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(89.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:133px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(89.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(89.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:96px;
}
#_idContainer163 {
	-ms-transform:translate(0.000px,0.000px) rotate(43.500deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(43.500deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:133px;
	position:relative;
	transform:translate(0.000px,0.000px) rotate(43.500deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(43.500deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:96px;
}
#_idContainer174 {
	display:inline-block;
	height:648px;
	position:relative;
	width:348px;
}
#_idContainer175 {
	display:inline-block;
	height:13px;
	position:relative;
	width:83px;
}
#_idContainer176 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.17px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:269.42px;
	z-index:1;
}
#_idContainer177 {
	-ms-transform:translate(263.436px,22.101px) rotate(178.499deg) skew(0.000deg) scale(1.000,-1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(263.436px,22.101px) rotate(178.499deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(263.436px,22.101px) rotate(178.499deg) skew(0.000deg) scale(1.000,-1.000);
	transform:translate(263.436px,22.101px) rotate(178.499deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:203.13px;
	z-index:0;
}
#_idContainer178 {
	display:inline-block;
	height:58px;
	position:relative;
	width:269px;
}
#_idContainer183, #_idContainer186 {
	display:inline-block;
	height:0px;
	position:relative;
	width:247px;
}
#_idContainer188 {
	display:inline-block;
	height:24px;
	position:relative;
	width:247px;
}
#_idContainer189, #_idContainer190, #_idContainer191 {
	display:inline-block;
	height:13px;
	position:relative;
	width:54px;
}
#_idContainer192 {
	display:inline-block;
	height:13px;
	position:relative;
	width:45px;
}
#_idContainer193 {
	display:inline-block;
	height:13px;
	position:relative;
	width:42px;
}
#_idContainer194 {
	display:inline-block;
	height:13px;
	position:relative;
	width:40px;
}
#_idContainer195, #_idContainer196 {
	display:inline-block;
	height:13px;
	position:relative;
	width:36px;
}
#_idContainer197, #_idContainer198, #_idContainer243, #_idContainer244 {
	display:inline-block;
	height:8px;
	position:relative;
	width:8px;
}
#_idContainer199, #_idContainer200 {
	display:inline-block;
	height:13px;
	position:relative;
	width:30px;
}
#_idContainer201 {
	display:inline-block;
	height:13px;
	position:relative;
	width:26px;
}
#_idContainer202 {
	display:inline-block;
	height:13px;
	position:relative;
	width:22px;
}
#_idContainer203, #_idContainer204, #_idContainer205 {
	display:inline-block;
	height:13px;
	position:relative;
	width:15px;
}
#_idContainer207, #_idContainer208, #_idContainer209, #_idContainer210, #_idContainer211, #_idContainer212, #_idContainer213, #_idContainer214, #_idContainer215, #_idContainer216, #_idContainer217, #_idContainer218, #_idContainer219, #_idContainer220, #_idContainer221, #_idContainer222 {
	display:inline-block;
	height:10px;
	position:relative;
	width:10px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#ffffff;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
	border-width:1px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#6f6f78;
	border-width:0px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#6f6f78;
	border-width:1px;
}
div._idGenObjectStyleOverride-6 {
	border-color:#ffffff;
	border-width:2px;
}
div._idGenObjectStyleOverride-7 {
	border-color:#3f3f4b;
	border-width:3px;
}
div._idGenObjectStyleOverride-8 {
	background-color:#ffffff;
	border-color:#4d4d4f;
	border-width:3px;
}
div._idGenObjectStyleOverride-9 {
	background-color:#282829;
	border-width:0px;
}
div._idGenObjectStyleOverride-10 {
	background-color:#4d4d4f;
	border-width:0px;
}
div._idGenObjectStyleOverride-11 {
	border-color:#51dcbb;
	border-width:28px;
}
div._idGenObjectStyleOverride-12 {
	border-color:#ffffff;
}
div._idGenObjectStyleOverride-13 {
	background-color:#282829;
	border-color:#ffffff;
	border-width:2px;
}
div._idGenObjectStyleOverride-14 {
	background-color:#282829;
	border-color:#ffffff;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:13px 34px 13px 34px;
}
div._idGenObjectLayout-3 {
	margin:-19px 19px -19px 19px;
}
div._idGenObjectLayout-4 {
	margin:14px 33px 14px 33px;
}
div._idGenObjectLayout-5 {
	margin:15px 33px 15px 33px;
}
div._idGenObjectLayout-6 {
	margin:-17px 19px -17px 19px;
}
